body{
   margin:0;
   padding:0;
   font-family:Verdana,sans-serif;

}
.container{
	width:100%;
}
.nav{
    margin:0;
    padding:0;
    position:fixed;
    background:lightblue;
    color:#ffffff;
    width:100%;
    cursor:pointer;
}
button{
    border-radius:4px;
    color:black;
    background-color:lightblue;
    border:none;
    font-size:15px;
    padding:5px;
    text-align:center;
}
.bg img{
  width:100%;
}
h1{
  margin-left:30px;
}
.PARA{
   width:50%;
   margin-left:40px;
   border-left:1px solid black;
   border-right:1px solid black;
   font-size:14px;
   padding-left:8px;
}
.Name,.last{
  background-color:lightblue;
  color:#ffffff;
  font-size:15px;
  padding-bottom:2%;
}
.end{
  background-color:white;
  border-radius:4px;
}
.jumbotron{
   width:100%;
   background-size:cover;
   background:url("download.jpg");
}
/* flex Container */
 ul {
  display:flex;
  list-style:none;
  margin:10;
  padding:5;
  font-size:12px;
}
.wrapper{
   display:inline-flex;
   justify-content:center;
   align-content:center;
   flex-direction:row;
   border:15px solid red;
/*   width:100%;
*/}
.Name,.last{
  display:flex;
  justify-content:center;
}
.Wrapper{
  display:flex;
  background-color:lightblue;
}


/* flex Item */

li{
  flex:1;
}
li.one{
   flex:8;
}
button{
  display:flex;
  flex-direction:row;
  align-items:center;
}

h1{
  display:inline-flex;
}
.PARA{
   display:inline-flex;
   align-self:center;
}
.name,.end{
  display:flex;
}
.Text,.Text2,.Text3{
  display:flex;
}
.text1,.text2,.text3{
     display:flex;
     border-radius:4px;
     background:#ffffff;
     margin:20px;
     padding:20px;
     color:black;
}



